/* stylesheet */

/** {
    border: 2px solid indigo;
}*/

html {
    margin: 0;
    /*min-height: 600%;*/
}

body { /* all visible content stored inside */
    /*background-color: #1F2937;*/
    color: rgb(255, 0, 0); /* default to red, means change color */
    font-family: sans-serif;
    font-size: 1.2rem;

    margin: 0rem;
    padding: 0rem;

    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.header { /* container */
    height: 3rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*align-self: center; /* top, middle, or bottom */
    /*text-align: center; /* left, middle, or right */

    flex: auto;

    position: fixed;
    top: 0rem;
    left: 0rem;
    background-color: rgba(30, 40, 55, 0.9);
    color: rgb(255, 255, 255);
}

.headerleft { /* item for now, a container with logo later */
    text-align: center;
    align-self: center;

    padding: 0.5rem;
    margin: 0.5rem;

}

.headerright {
    height: auto;
    width: 50%;
    padding: 1rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    align-self: center;
    justify-content: space-around;

    padding: 0.5rem;
    margin: 0.5rem;

    color: rgb(200, 200, 200);
}

.content1, .content2, .content3, .content4, .content5 { /* container */
    height: auto;
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    display: flex;

    flex: auto;

    margin: 0rem;
}

.content1, .content5 {
    background-color: #1F2937;
}

.content2, .content4 {
    background-color: #ffffff;

    /*align-items: center;
    align-content: center;*/
}

.content1 {
    padding-top: 7rem;
}

.content3 {
    background-color: #E5E7EB;
}

.layer1, .layer2, .layer3, .layer4 {
    height: auto;
    width: 70%;

    font-size: 1rem;
    align-self: center;
}

.layer1 { /* container */
    padding: 0.4rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

.layer1left { /* container */
    height: auto;
    width: 25rem;

    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;

    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: rgb(255, 255, 255);

}

.left1, .left2 {
    margin: 0.1rem;
}

.left1 {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 600;
}

.left2 {
    font-size: 1rem;
    color: #E5E7EB;
    font-weight: 200;
}

.left3 {
    height: 3rem;
    width: 7rem;

    color: #F9FAF8;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;

    margin: 0.7rem;

    border-radius: 0.5rem;
    background-color: #2772F6;
    border: 0.1rem #2772F6;
}

.layer1left button:hover {
    height: 3rem;
    width: 7rem;

    color: #2772F6;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;

    margin: 0.7rem;

    border-radius: 0.5rem;
    background-color: white;
    border: 0.1rem solid white;

    cursor: pointer;
}

.layer1right { /* container */

    height: auto;
    width: 25rem;
    border-radius: 0.3rem;

    padding: 0.3rem;
    padding-top: 0;
    padding-bottom: 0;

    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(255, 255, 255);

    background-color: gray;
}

.layer1right img {
    display: flex;
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.3rem;

}

.layer2 { /* container */
    padding: 0.4rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.layer2title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 600;
}

.layer2imgs {
    height: auto;
    width: 100%;

    padding: 1rem;

    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    color: rgb(0, 0, 0);
}

.layer2img {
    height: 7rem;
    width: 7rem;

    border-radius: 0.5rem;
    background-color: gray;

    text-align: center;
    align-self: center;
}

.layer2subtexts{
    height: auto;
    width: 100%;

    padding: 1rem;

    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    color: rgb(0, 0, 0);
}

.layer2subtext {
    height: 100px;
    width: 120px;

    font-size: 1rem;
    border-radius: 0.5rem;
}

.layer3 { /* container */
    padding: 0.4rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.layer3quote {
    height: auto;
    width: 60%;

    color: #1F2937;
    font-size: 1.5rem;
    text-align: left;
}

.layer3author {
    height: auto;
    width: 60%;
    align-self: right;

    color: black;
    font-weight: 600;
    text-align: right;
    font-size: 1.3rem;
}

.layer4 { /* container */
    padding: 2rem;
    box-sizing: border-box; /* subtracts border and padding from height and width */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    align-self: center;

    height: auto;
    width: 70%;

    background-color: #3882F6;
    color: white;
    border-radius: 0.3rem;
}

.layer4left {
    height: auto;
    width: 60%;

    font-size: 1rem;
    text-align: left;
}

.layer4action {
    height: auto;
    width: auto;
    align-self: left;

    text-align: left;
    font-size: 1.3rem;
}

.layer4subtext {
    height: auto;
    width: auto;
    align-self: center;

    text-align: left;
    font-size: 0.7rem;
}


.layer4button {
    height: 3rem;
    width: 7rem;

    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;

    margin: 0.7rem;

    border-radius: 0.5rem;
    background-color: #3882F6;
    border: 0.1rem solid white;
}

.layer4 button:hover {
    height: 3rem;
    width: 7rem;

    color: #2772F6;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;

    margin: 0.7rem;

    border-radius: 0.5rem;
    background-color: white;
    border: 0.1rem #3882F6;

    cursor: pointer;
}

.footer {
    height: auto;
    width: 60%;

    color: white;

    font-size: 1rem;
    text-align: center;
    align-self: center;
}